h1 {
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
    text-align: center;
    font-optical-sizing: auto;
}

h2 {
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    font-optical-sizing: auto;
}

body {
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;

    background:rgb(236, 224, 209);
    color:rgb(56, 34, 15);
    margin: 30px 50px 30px 50px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

/* sections */
#add {
    background: rgb(209, 188, 172);
    border-radius: 10px;
    padding: 0px 25px 20px 25px;
}

#to-do-list {
    background: rgb(209, 188, 172);
    border-radius: 10px;
    padding: 0px 25px 20px 25px;
}

/* task list */
#tasks {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
li {
    display: flex;
    align-items: center;
    gap: 10px;
}
li::before {
    content: "☕︎";
    left: 0;
    color: rgb(56, 34, 15);
    font-size: 1.7em;
}
.title-text {
    font-weight: 900;
}
.due-date {
    margin-left: 20px;
}
.counter {
    margin-left: 20px;
    font-weight: 900;
}

/* form elements */
form, #edit-form {
    display: flex;
    gap: 10px;
    flex: 1;
}

.submit-btn {
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 15px;

    background: rgb(170, 132, 105);
    border-color: rgb(170, 132, 105);
    border-radius: 10px;
    padding: 5px 5px 5px 5px;
    width: 10%;
    min-width: 70px;
} 
.submit-btn:hover {
    background: rgb(153, 119, 95);
    border-color: rgb(153, 119, 95);
}

input {
    background-color: #fbf7e7;
    border-color: #fbf7e7;
    border-radius: 10px;
    padding: 8px 5px 8px 8px;

    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
}
input[type="text"] {
    width: 70%;
}
input[type="date"] {
    width: 20%;
}

/* edit form elements */
.btn-group {
    margin-left: auto;
    display: flex;
    gap: 10px;
}

.delete-btn,
.cancel-btn {
    background: rgb(216, 110, 110);
    border-color: rgb(216, 110, 110);
    border-radius: 10px;
    padding: 9px 5px 9px 5px;
    min-width: 80px;

    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
}
.delete-btn:hover,
.cancel-btn:hover {
    background: rgb(201, 100, 100);
    border-color: rgb(201, 100, 100);
}
.delete-btn {
    width: 5%;
}
.cancel-btn {
    width: 10%;
}

.edit-btn, .save-btn {
    background: #dcaa64;
    border-color: #dcaa64;
    border-radius: 10px;
    padding: 9px 5px 9px 5px;
    min-width: 80px;

    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
}
.edit-btn:hover, .save-btn:hover {
    background: #cd9a51;
    border-color: #cd9a51;
}
.edit-btn {
    width: 5%;
}
.save-btn {
    width: 10%;
}
